.input-container{
    display: flex;
    gap: var(--rem-half);
    align-items: center;
    border: 1px solid grey;
    padding: var(--rem-020);
}
.input{
    flex: 1;
    outline: none;
    border: none;
    font-size: var(--rem-1);
}
.input-container:focus-within{
    border: 1px solid var(--primary-color);
}