.btn{
    border: none;
    border-radius: 5px;
    background-color: var(--btn-color-light);
    padding: var(--rem-half);
    display: flex;
    align-items: center;
    color: #fff;
    gap: var(--rem-020);
    cursor: pointer;
}