.dashboard-container{
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    padding: var(--rem-1);
}
.dashboard__nav-container{
    max-width: 50rem;
    padding: var(--rem-half);
}
.dashboard__task-list-container{
    flex: 1;
    padding: var(--rem-2);
    display: flex;
    flex-direction: column;
    gap: var(--rem-2);
}

.dashboard__task-actions{
    display: flex;
    gap: var(--rem-2);
}